<div class="card">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title center-align">Your Objects</span>
    </div>
  </div>
  <div class="card-content">

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">Search</label>
      </div>

      <div class="collection">
        <a href="/system" class="collection-item">Ford AK 5487-7</a>
        <a href="/system" class="collection-item">Scania MP 2498-7</a>
        <a href="/system" class="collection-item">Daf EK 0976-7</a>
        <a href="/system" class="collection-item">Man HH 6743-7</a>
        <a href="/system" class="collection-item">Man KF 9536-7</a>
      </div>


      <!-- Modal Add New Object Trigger -->
      <a
        class="btn-floating btn-large waves-effect waves-light red modal-trigger"
        (click)="showModalAddUnit()"
        href="#modalAddObjectId"
      >
        <i class="material-icons">add</i>
      </a>

      <!-- Modal Add New Object Structure -->
      <div id="modalAddObjectId" class="modal">
        <div class="container">
          <div class="modal-content">
            <h4>Create New Object</h4>

            <div class="input-field col s12">
              <input id="object_name" type="text" class="validate">
              <label for="object_name">Object Name</label>
            </div>


            <select class="browser-default">
              <option value="" disabled selected>Select Protocol</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>

            <div class="input-field col s12">
              <input id="object_imei" type="text" class="validate">
              <label for="object_imei">Object IMEI</label>
            </div>

          </div>
          <div class="modal-footer raw">
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Create</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
