<p class="text-xs-center">Registration</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}"
  >
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Input email"
      formControlName="email"
    >
  </div>
  <div class="form-group has-error">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Input password"
      formControlName="password"
    >
    <span class="form-help-text">Error message.</span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('login').invalid && form.get('login').touched}"
  >
    <label for="login">Login</label>
    <input
      type="text"
      class="form-control underlined"
      id="login"
      placeholder="Input name"
      formControlName="login"
    >
    <span class="form-help-text">Success message.</span>
  </div>
  <div class="form-group">
    <p>
      <input
        type="checkbox"
        id="agree"
        formControlName="agree"
      />
      <label for="agree">Согласен с правилами</label>
    </p>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary">Sign Up</button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Already have account?
      <a href="login">
        Sign In!
      </a>
    </p>
  </div>
</form>
