<div class="card">

  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title center-align">Select Date</span>
    </div>
  </div>

  <div class="card-content">
    <div class="row">

      <p>Start Date {{startDate}} {{startTime}}</p>
      <div class="col s7">
        <input
          type="text"
          class="datepicker"
          (click)="showCalendar()"
          value="2018-01-11"
          id="startDate"
        >

      </div>
      <div class="col s5">
        <input
          type="text"
          class="timepicker"
          (click)="showClock()"
          value="00:00"
          id="startTime"
        >
      </div>

      <p>Finish Date</p>
      <div class="col s7">
        <input
          type="text"
          class="datepicker"
          (click)="showCalendar()"
          value="2018-01-11"
          id="finishDate"
        >
      </div>
      <div class="col s5">
        <input type="text" class="timepicker" (click)="showClock()" value="23:59">
      </div>
    </div>
  </div>

</div>

