<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <p>messages {{selectedUnit.messages.length}}</p>
        <agm-map
          [latitude]="lat"
          [longitude]="lng"
          [mapTypeControl]="true"
          [fullscreenControl]="true"
          [scaleControl]="true"
        >
          <agm-marker
            *ngFor="let unit of unitList"
            [latitude]="unit.messages[0].latitude"
            [longitude]="unit.messages[0].longitude"
            [label]="unit.unitName"
          >
          </agm-marker>
          <agm-polyline>
            <agm-polyline-point
              *ngFor="let message of selectedUnit.messages"
              [latitude]="message.latitude"
              [longitude]="message.longitude"
            >
            </agm-polyline-point>
          </agm-polyline>
        </agm-map>
      </div>
    </div>
  </div>
</div>
