<div class="col s4">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">Period</span>

      <p>Start date</p>
      <div class="row">
        <div class="col s7">
          <input type="date" class="datepicker" value="{{today}}">
        </div>
        <div class="col s5">
          <input type="time" class="timepicker" value="00:00">
        </div>
      </div>

      <p>Finish date</p>
      <div class="row">
        <div class="col s7">
          <input type="date" class="datepicker" value="{{today}}">
        </div>
        <div class="col s5">
          <input type="time" class="timepicker" value="23:59">
        </div>
      </div>
    </div>
  </div>
</div>



