<router-outlet></router-outlet>

<app-header></app-header>

<div class="row">

</div>

<div class="row">
  <div class="col s3">
    <app-units (onClickUnit)="receiveSelectedUnit($event)" (updateUnitList)="receiveUnitList($event)"></app-units>
  </div>

  <div class="col s3">
    <app-unit-info [selectedUnit]="selectedUnit"></app-unit-info>
  </div>


    <div class="col s3">
      <app-date-selector (dateUpdate)="receiveDates($event)"></app-date-selector>
    </div>

  <form (ngSubmit)="receiveUnitWithMessages()">
    <div class="col s3">
      <app-report-selector [selectedUnit]="selectedUnit"></app-report-selector>
    </div>
  </form>
  <div class="col s9">
    <app-map [unitList]="unitList" [selectedUnit]="selectedUnit"></app-map>
  </div>
</div>
